[Unit]
Description=Google Drive (rclone)
AssertPathIsDirectory=/mnt/gdrive
After=plexdrive.service

[Service]
Type=simple
ExecStart=/usr/bin/rclone mount --allow-other gcrypt: /mnt/gdrive
ExecStop=/bin/fusermount -uz /mnt/gdrive
Restart=on-abort

[Install]
WantedBy=default.target